.flex-cont-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f1a24;
    height: auto;
  }

.flex-cont-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  background-color: #ff7597;
  /* height: 20%;     */
  margin: 3px;
}

@keyframes swoopDown {
  from{bottom:15px; right:5px;}
  to{bottom:0px; right: 0px;}
}
.flex-cont-scol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: #332940;
  width: 33.333%;
  min-width: 60px;  
  position: relative;
  animation-name: swoopDown;
  animation-duration: 0.4s;
}
  
.flex-cont-srow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color:282828;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 95%;
}

.flex-res-srow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #22303C;
  width: 100%;
}

.flex-cont-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center ;
  background-color: slategray;
  position: relative;
  animation-name: swoopDown;
  animation-duration: 0.4s;

  height: 20%;
  width: 100%;    
}

input[type=checkbox] {
  height: 1em;
  accent-color: goldenrod;
  border-radius: 5px;
  border: none;
  margin-left: 3px;
}

.numberIn {      
  width: 100%;
  min-width: 50px;
  border-radius: 5px;
  height: 2em;
  border: none;
  min-width: 30px;
}

.result {
  width: 3em;
  border: none;
  background: transparent;
  margin-left: 3px;
  color: white;
  font-weight: bold;
  min-width: 30px;

}

body {
  /* background-color: steelblue; */
  color: white;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

span[id=checkToolTip]{
  color: goldenrod;
  font-size: .8em;
  font-weight: bold;

}
span[id=postFix]{
  color: grey;
  font-size: .8em;
}
 
